{% extends "base.html" %}

{% block content %}
    <h1>Eatery List</h1>

    <div class="well">
      <h4>Below is the list of all Eateries currently registered on the app.</h4>
      <h4>To add a new Eatery, simply log in to the Admin Panel and click the "Add" button next to the Eateries link under the "Luncheon" section. Here, enter the name of the eatery and the address. Optionally add a link to the website or menu for quick access to the important stuff!</h4>
    </div>

    {% if eatery_list %}
    <ul class="eatery-list">

      {% for eatery in eatery_list %}
      <li class="eatery-list__item">
        <h4>
          <span>
            <a href="{{ eatery.get_absolute_url }}">{{ eatery.name }}</a>
            {% if eatery.menu_link %}
            - (<a href="{{ eatery.menu_link }}">Menu</a>)
            {% endif %} 
            
            {% if eatery.website_link %}
            - (<a href="{{ eatery.website_link }}">Site</a>)
            {% endif %}
          </span>
        </h4>
        <h5>
          <span>
            Favorited by {{ eatery.total_favorites }}
            {% if eatery.total_favorites == 1 %}
                person 
            {% else %} 
                people 
            {% endif %}
          </span>
        </h5>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no eateries defined in Luncheon.</p>
    {% endif %}       
{% endblock %}