{% extends "base.html" %}

{% block content %}
  <h1>
    {% if eatery.website_link %}
        <a href="{{ eatery.website_link }}">
    {% endif %}

        {{ eatery.name }}

    {% if eatery.website_link %}
        </a>
    {% endif %}

    {% if eatery.menu_link %}
        - <a href="{{ eatery.menu_link }}">(Menu)</a>
    {% endif %}
  </h1>

  {% if user.is_authenticated %}
    {% if favoritedByCurrentUser %}
      <h3>(One of your <a href="{% url 'favorited-by' %}">favorites</a>!)</h3>
    {% else %}
      <h3><a href="{% url 'add-favorite-eatery' eatery.id %}">+ Add to favorites</a></h3>
    {% endif %}
    <br>
  {% endif %}

  {% if eatery.address %}
  <h2><strong>Address:</strong>
    {% if googleData.maps_link %}
        <a href="{{ googleData.maps_link }}">
    {% endif %}

        {{ eatery.address }}

    {% if googleData.maps_link %}
        </a>
    {% endif %}
  </h2>
  {% endif %}

  {% if googleData.walking_distance %}
  <h3><strong>Walking distance:</strong>
    {% if googleData.directions_link %}
        <a href="{{ googleData.directions_link }}">
    {% endif %}

        {{ googleData.walking_distance }}

    {% if googleData.directions_link %}
        </a>
    {% endif %}
  </h3>
  {% endif %}
  
  {% if googleData.google_rating %}
  <h3><strong>Google Says:</strong> {{ googleData.google_rating }} stars out of 5</h3>
  {% endif %}

  {% if googleData.price_level %}
  <h3><strong>Pricing:</strong> {{ googleData.price_level }}</h3>
  {% endif %}

  {% if googleData.open_now %}  
  <h3><strong>Open Now?</strong> {{ googleData.open_now }}</h3>
  {% endif %}

{% endblock %}